src/main/mule/test123.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6fd435e8-d278-47a1-b1f2-82f5e97229ec" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="b4e89a02-825e-4f6a-b388-21c5f2b45215" file="dev.properties" />
	<flow name="test123Flow" doc:id="e3c0f239-9d71-4bbc-bb49-389b0e372535" >
		<http:listener doc:name="Listener" doc:id="5011d82c-dc4d-42a9-ac46-ad37f4a26997" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c3a399b9-ba86-438e-8718-5340089bef91" message='#["Start log"]'/>
		<ee:transform doc:name="Transform Message" doc:id="510d2ad7-1a6c-47dd-b37b-f719cdf26d5a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"My first mule application"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3ff0c603-c8cc-4613-a5cd-76c5087550c9" message='#["end log" ++ payload.^raw as String]'/>
	</flow>
</mule>
